# Jupyter Notebook
    .ipynb_checkpoints/

# Python
    __pycache__/
    *.py[cod]

# Ambientes virtuais (Anaconda / venv)
    .env/
    .venv/
    env/
    venv/

# Arquivos temporários
    *.log
    *.tmp
    .DS_Store
    Thumbs.db